.Header {
  background: var(--backgroundColor1);
  position: relative;
}

.headerMainContainer {
  padding: 0 15%;
}

.title {
  display: inline-block;
  position: relative;
  padding-top: 80px;
}

.title a {
  font-size: 4.5rem;
  color: white;
}
.title p {
  margin: 0;
  font-size: 6rem;
}

.firstName {
  position: absolute;
  top: 18px;
  left: 7.9px;
  margin: 0;
  color: var(--primaryColor1);
}

.transformLetter {
  position: relative;
}

.title .transformLetter::after {
  content: "";
  top: 20px;
  left: 8.3px;
  width: 4.5px;
  height: 9px;
  position: absolute;
  font-size: 85px;
  transition: 350ms ease-in-out;
}
.title a:hover .transformLetter::after {
  background-color: var(--primaryColor2);
  transform: scale(1.2) translate(-1px, 0px);
}

.navigation {
  flex: 1 1 100%;
}

.navContainerClosed {
  height: 0;
  transition: 1000ms;
}
.navContainerOpen {
  height: 126px;
  transition: 1000ms;
}

.hideLinks {
  transform: scale(0);
  list-style-type: none;
  transition: 1000ms;
}

ul.showLinks {
  transition: 1000ms;
  transform: scale(1);
  display: flex;
  flex-direction: column;
  padding: 0px 12%;
  margin: 10px auto 0 auto;
}

ul.showLinks li {
  list-style-type: none;
}

.navigation ul {
  display: flex;
  margin: 0;
}

.navigation ul li {
  list-style-type: none;
  margin: 20px;
}

.links {
  text-decoration: none;
  color: white;
  transition: 250ms ease-in-out;
}

.links:hover {
  color: var(--primaryColor1);
}

.activeNavItem {
  color: var(--primaryColor1);
}

.blog {
  position: relative;
}

.socialMedia {
  position: absolute;
  top: 0;
  right: 0;
}
.socialMedia li {
  display: inline-block;
  font-size: 24px;
  margin: 5px 2px;
  transition: 300ms ease-in-out;
}

.socialMedia a {
  color: var(--primaryColor1);
  transition: 300ms ease-in-out;
}

.socialMedia a:last-of-type {
  margin: 5px 5px;
}

.socialMedia li:hover {
  transform: scale(1.1);
}
.socialMedia li:hover a {
  color: var(--mainWhite);
}

.menuIcon {
  color: var(--primaryColor1);
  font-size: 24px;
  transition: 300ms ease-in-out;
}

.menuIcon:hover {
  color: var(--mainWhite);
}

.menuBtn {
  display: none;
}

ul.navLinks {
  display: flex;
}

@media screen and (max-width: 800px) {
  header.Header {
    text-align: center;
    padding: 0;
  }

  .headerMainContainer {
    padding: 0;
    text-align: center;
  }

  ul.navLinks {
    display: none;
  }

  .title p {
    margin: 0;
    font-size: 4rem;
  }

  .title a {
    font-size: 3.5rem;
  }

  .title a::before {
    left: 4.3px;
  }

  .title .transformLetter::after {
    display: none;
  }

  .firstName {
    top: 38px;
    left: 5.3px;
  }

  .socialMedia {
    display: none;
  }
  .menuBtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .menuIcon {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .title a {
    font-size: 3rem;
  }
  .menuIcon {
    font-size: 26px;
  }
}

@media screen and (max-width: 400px) {
  .title p {
    font-size: 3rem;
  }
  .title a {
    font-size: 2.5rem;
  }
  .menuIcon {
    font-size: 20px;
  }
}

// .blog .embelish::before {
//   content: "";
//   transition: 1000ms;
//   position: absolute;
//   height: 7px;
//   width: 6px;
//   border-radius: 50%;
//   transform: translate(2.3px, 12px);
//   transition: 250ms ease-in-out ;
// }

// .blog:hover .embelish::before {
//   background: #ee6352;
// }
